<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h2>you are about to edit here!<%=user.email%></h2>
    <form method="post" action="/user/<%=user.id%>?_method=patch">
        <textarea name ="username"><%= user.username%></textarea>
        <input type="password" name="password" placeholder="enter your password">
        <button>Edit</button>
    </form>
</body>
</html>